## Riverheim Config settings written by Riverheim AtlasBuilder UI. The game adds descriptions the next time it starts.

[1. World]
WorldRadius = 10500
TileSpacing = 60
SeaFloorDepth = -40
OceanBiomeDepth = -20
MountainHeight = 44.5
StartingAreaRadius = 870

[2. Rivers]
OriginDensity = 0.07
MinLandNeighbors = 2
WidthScale = 170
WidthPower = 0.48
WidthOffset = -1
MinStrahler = 2
MinWidth = 12.5
MaxWidthDifference = 5
MeanderPeriod = 4.2
MeanderAmplitude = 2.15

[3. Lakes]
Budget = 0.012
NoiseScale = 900
LowlandContribution = 0.6
CuriosityContribution = 1.1

[4. Biomes]
MeadowsBias = 0
ForestBias = -6
SwampBias = 9
PlainsBias = 6.5
MistlandsBias = 2

[5. Biome Amounts]
MeadowsWeight = 60
ForestWeight = 235
SwampWeight = 95
PlainsWeight = 280
MistlandsWeight = 330

[6. Biome Bands]
MeadowsFadeEnd = 45
SwampStart = 17
SwampEnd = 62
PlainsStart = 27
PlainsEnd = 70
MistlandsStart = 57
